name: Main
on: push

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.22"
                  cache: false
            - name: Build
              run: "go build ./..."
            - name: Test
              run: "go test ./..."
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.22"
                  cache: false
            - name: Lint
              uses: golangci/golangci-lint-action@v5
              with:
                  version: v1.57
                  args: --config=.golangci.yaml
    codeqL-build:
        name: CodeQL build
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4
          - name: Initialize CodeQL
            uses: github/codeql-action/init@v3
          - name: Autobuild
            uses: github/codeql-action/autobuild@v3
          - name: Perform CodeQL Analysis
            uses: github/codeql-action/analyze@v3
